*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(183, 178, 178, 0.845);
}
a{
  color: unset;
  text-decoration: none;
}
input{
  outline: none;
  font-size: 18px;
  width: 100%;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}


/* Navbar component style */
.navbar{
  width: 100%;
  padding: 20px 10px;
  background-color: #625f5f;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.navbar h2{
  background-color: #fbf7f7;
  width: fit-content;
  padding: 2px;
  
}
.brand-first-half{
  margin-right: 2px;
}
.brand-last-half{
  background-color: #000000;
  color: #f3efef;
  
}
.navbar button{
  background-color: transparent;
  color: #79ef9b;
  border: 2px solid #98e899;
  padding: 5px 10px;
  cursor: pointer;
}
.navbar button:hover{
  background-color: #64de6c;
  color: white;
}

/* AlbumsList component style */
.albums-list{
  width: 70%;
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

/* List component style */
.list{
  width: 310px;
  height: 200px;
  background-color: #f5f6f7;
  margin-bottom:5px ;
  color: rgb(106, 195, 239);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
  padding-top: 50px;
}
.list h3{
  text-align: center;
  text-transform: capitalize;
}
.button-group{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update-btn{
  /* border: 3px solid #98e899; */
  color: rgb(70, 232, 49);
  border: 0px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10%;
}
.update-btn:hover{
  background-color: white;
  color: #98e899;
}
.delete-btn{
  cursor: pointer;
  border: 0px;
  padding: 10px 20px;
  /* background-color: red; */
  color: rgb(251, 87, 16);
  border-radius: 10%;
}
.delete-btn:hover{
  color:red;
  background-color:white;
}

/* UpdateAlbum component style */
.update-album{
  color: rgb(106, 195, 239);
  padding-top: 73px;
  width: 350px;
  margin: auto;
}
.form-container{
  padding: 10px;
  background-color: #fbf7f7;
  margin-top: 50px;
  border-radius: 5%;
}
.form-container h2{
  color: rgb(57, 170, 226);
  text-align: center;
  padding-bottom: 15px;
}
.inp-container{
  margin: 10px;
}
.form-container button{
  color: rgb(70, 232, 49);
  padding: 10px 20px;
  border-radius: 10%;
  border: 0px;
}
.form-container button:hover{
  background-color: white;
  color: #98e899;
}
#save-button{
  text-align: center;
}
/* addAlbum container style */
.addalbum-container{
  color: rgb(110, 198, 242);
  padding-top: 73px;
  width: 350px;
  margin: auto;
}
.addalbum-form h2{
  color: rgb(57, 170, 226);
  padding-bottom: 20px;
  text-align: center;
}
#add-list{
  text-align: center;
  padding-top: 10px;
}
.addalbum-form{
  padding: 10px;
  background-color: #fbf7f7;
  margin-top: 50px;
  border-radius: 5%;
  
}
.addalbum-form button{
  /* background-color: green; */
  color: rgb(70, 232, 49);
  padding: 10px 20px;
  border-radius: 10%;
  border: 0px;
  
}
.addalbum-form button:hover{
  background-color: white;
  color: #98e899;
}